.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco semi-transparente */
    padding: 40px;
    border-radius: 4px;
    box-shadow: 4px 6px 15px rgb(9, 203, 9);
    backdrop-filter: blur(5px); /* Efecto de desenfoque en el fondo del formulario */
    max-width: 450px;
    width: 90%;
}
    
.form-group {
    margin-bottom: 20px;
}

.form-container input[type="text"], 
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
}

.boton {
    width: 100%;
    padding: 10px;
    background-color: #074e0fed; /* Color de botón de ejemplo */
    color: white;
    border-color: rgb(9, 203, 9);
    cursor: pointer;
}

.boton:hover {
    background-color: rgba(9, 203, 9, 0.766); /* Color de botón al pasar el mouse */
    opacity: 1;
    transition: 0.5s;
} 

#shaderCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Asegura que el canvas esté detrás del contenido */
}

.underline {
    text-decoration: underline;
    text-decoration-color: white; /* opcional, para que coincida con el color del texto */
}
a {
    text-decoration: none; /* quitar subrayado del enlace completo */
}

.enl {
    color: white;            
    text-decoration: none;    
    font-size: 1rem;          
    cursor: pointer;         
}

.enl .underline {
    text-decoration: underline;      
    text-decoration-color: white;     
}

