.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif
}
.form-container {
    background-color: rgb(194, 194, 194, 0.4);
}
