<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de control - ADMINISTRADOR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css') }}">
</head>
<body>
    <!-- {% include 'navbar.html' %} -->

    <!-- -------------------------------------------------------------------------------------------------------------------------------- -->
    <!-- <<=========================== TABLAS DE LOS USUARIOS =========================== -->
    <!-- -------------------------------------------------------------------------------------------------------------------------------- -->


    <!-- -------------------------------------------------------------------------------------------------------------------------------- -->
    <!-- <<=========================== TABLAS DE LOS MODULOS FINANCIEROS =========================== -->
    <!-- -------------------------------------------------------------------------------------------------------------------------------- -->


    <!-- -------------------------------------------------------------------------------------------------------------------------------- -->
    <!-- <<=========================== TABLAS DE LOS DEPENDIENTES =========================== -->
    <!-- -------------------------------------------------------------------------------------------------------------------------------- -->



    <!-- -------------------------------------------------------------------------------------------------------------------------------- -->
    <!-- <<=========================== TABLAS DE LOS HISTORIALES =========================== -->
    <!-- -------------------------------------------------------------------------------------------------------------------------------- -->


    <!-- {% include 'footer.html' %} -->
</body>
</html>