<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahorrapp</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>  
    <div class="container mt-5">
        <h1 class="text-center mb-4">AhorrApp</h1>
        <div class="options">
            {% if not session.get('logged_in') %}
            <a class="btn btn-secondary btn-lg" href="{{ url_for('register') }}">Regíster</a>
            <a  class="btn btn-secondary btn-lg" href="{{ url_for('login') }}">login</a>
            {% else %}
            <a class="cerrar" href="{{ url_for('logout') }}">Cerrar sesion</a>
            {% endif %}
        </div>
    </div>
</body>
</html>