<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav&fot.css') }}">
</head>
<body>
    <!-- Parte superior -->
    <div class="header-top"> 
        <div class="logo">
            <img src="../static/img/isotipo.png" alt="Logo">
        </div>
        <div class="header-image">
            <img src="../static/img/logotipo.png" alt="Imagen Header">
        </div>
    </div>

<!-- Navbar -->
    <nav>
    <a href="#">Inicio</a>
    <a href="#">Menú</a>
    <a href="#">Nosotros</a>
    <a href="#">Contacto</a>
    </nav>

</body>
</html>