<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Dependientes</title>
</head>
<body>
<!-- {% include 'navbar.html' %} -->

    <div class="inf-container">
        <h2>Dependientes</h2>
        <div class="inf-listas">
            {% for dependiente in dependientes %}
            <div class="general-card">
                <p><strong>Dependiente de:</strong> {{ dependiente.usuario_nombre }}</p>
                <p><strong>Nombre:</strong> {{ dependiente.nombre }}</p>
                <p><strong>Relación:</strong> {{ dependiente.relacion }}</p>
                <p><strong>Ocupación:</strong> {{ dependiente.ocupacion or 'N/A' }}</p>
                <p><strong>Fecha Nac.:</strong> {{ dependiente.fecha_nacimiento }}</p>
                <!-- <div class="acciones">
                    <a href="{{ url_for('actualizar_usuario', id=usuario.id) }}" class="btn-editar">Editar</a>
                    <form action="{{ url_for('eliminar_usuario', id=usuario.id) }}" method="POST" onsubmit="return confirm('¿Estás seguro de eliminar este usuario?');">
                        <button type="submit" class="btn-eliminar">Eliminar</button>                    
                    </form>
                </div> -->
            </div>
            {% endfor %}
        </div>
    </div>
<!-- {% include 'footer.html' %}         -->
</body>
</html>