<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- {% include 'navbar.html' %} -->
    <div class="inf-container">
        <h2>Usuarios Registrados</h2>

        <div class="inf-listas">
            {% for usuario in usuarios %}
            <div class="general-card">
                <p><strong>ID:</strong> {{ usuario.id }}</p>
                <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
                <p><strong>Apellido:</strong> {{ usuario.apellido }}</p>            
                <p><strong>Email:</strong> {{ usuario.email }}</p>
                <p><strong>Rol:</strong> 
                    {% if usuario.rol == 0 %} <!-- CAMBIAR A 1 DESPUES -->
                        Administrador
                    {% else %}
                        Usuario
                    {% endif %}
                </p>
                <!-- <div class="acciones">
                    <a href="{{ url_for('actualizar_usuario', id=usuario.id) }}" class="btn-editar">Editar</a>
                    <form action="{{ url_for('eliminar_usuario', id=usuario.id) }}" method="POST" onsubmit="return confirm('¿Estás seguro de eliminar este usuario?');">
                        <button type="submit" class="btn-eliminar">Eliminar</button>
                    </form>
                </div> -->
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- {% include 'footer.html' %} -->
</body>
</html>